h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgba(94, 7, 7, 0.832);
    font-size:xx-large
}
p{
    font-family: "Gill Sans", sans-serif;
    text-indent: 20px;
    margin-left: 20px;
    font-size: large;
}
#content {
    background-color:rgb(170, 234, 255);
    width: 1200px;
    min-height: 1000px;
    padding: 20px;
    margin: 30px;
    border: solid 20px #e07979dc
}
